VITE_SUPABASE_URL=https://mrdufxkmwuxlekhemtsv.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1yZHVmeGttd3V4bGVraGVtdHN2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTY5NzEyNzEsImV4cCI6MjAzMjU0NzI3MX0.0-QMSqZcbGzmsAEliIqXlzEgCC-dNmxO8TsU6kaanTE